node_modules
node_modules_old/
dist
dist-ssr
*.local
.env
.env.*.local
.DS_Store
*.log
.vscode/*
!.vscode/extensions.json
dist_verify/
dist_check2/
.git_old/
.git_broken2/
*.tsbuildinfo
*.stale

vite.config.*.timestamp-*.mjs
logo.png
{}
.gitdb/
dist_check2/

# Fichiers temporaires Microsoft Office
~$*
*.docx
